@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-clr: 144, 73%, 39%;
    --secondary-clr: 209, 69%, 59%;
    --background: 210 40% 98%;
    --secondary-background: 209, 44%, 23%,
    --foreground: 0, 0%, 95%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent-clr: 144, 73%, 39%;
      --secondary-clr: 209, 69%, 59%;
      --background: 208, 68%, 11%;
      --secondary-bg: 209, 44%, 23%,
      --foreground: 0, 0%, 95%;
    } 
  }
}

@layer base {
  body {
    @apply bg-background text-white ;
  }
} 
